
@import 'bootstrap/dist/css/bootstrap.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';

body {
  font-family: "Montserrat", sans-serif;
}



#title {
  background-color: #1726ec;
  color: #fff;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-Bold";
}
.big-heading{
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
 
}
.navbar {
  padding: 0 0 4.5rem;

}

#nav-img{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  position: relative;
  width: 14rem;
  right: 15%;
}
.navbar-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
  
}
.download-button {
  margin: 5% 3% 5% 0;
}
.title-image {
  width: 60%;
  position: absolute;
  right: 5%;
}

#links{
  background-color: #1726ec;
  
 
}


#heading{
  color: #fff;
}

 .cover{
  height: 7rem;
  
  background-color: #1726ec;
} 

.feat {
  display: flex;
  justify-content: center;
  padding: 6rem 5rem;
}
.feature {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}
.fd {
  color: #8f8f8f;
}
.fi {
  color: #1726ec;
  margin-bottom: 1rem;
}
.fi:hover {
  color: #29885c;
}
#features {
  padding: 7% 15%;
  color: #8f8f8f;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.des {
  text-align: center;
  padding: 5%;
}



#testimonials {
  text-align: center;
  background-color: #29885c;
  color: #fff;
}
h2 {
  
  font-size: 3rem;
  line-height: 1.5;
  margin: 0 10%;
}
.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}



 #pics {
  
  text-align: center;
  padding-bottom: 3%;
 
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
} 
.pic{
  height: 13rem;
  width: 15rem;
  padding: 2rem;
}

.hislop{
 background-color: #8f8f8f ;
}


#pricing {
  padding: 100px;
  text-align: center;
  background-color: #29885c;
}
.pricing-column {
  padding: 3% 2%;
}
.price{
 justify-content: space-evenly;
}
.cards{
  height: 25%;
}

#card1{
  margin-bottom: 9rem;
}



.phone-img {
  position: relative;
  
  
}
 @media (max-width: 1020px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
    
  }
} 
.testing{
  height: 100%;
  width: 100%;
  background-color: #1726ec;
}


#cta {
  background-color: #1726ec;
  text-align: center;
  padding: 5% 25%;
}
.cta-text {
  font-family: "Montserrat";
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.7;
}

.log{
  color: fuchsia;
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.sm{
  margin: 10px;
}

.copyright-text {
  padding-top: 3%;
  color: #8f8f8f;
 font-size: 0.7rem; 
}
.foot-icon {
  margin: 10px 20px;
  color: black;
}

.re{
  height: 3rem;
  width: 3rem;
}

.api{
  height: 15rem;
  width: 100%;
  background-color: beige;
}
.list{
  height: 400px;
  width: 100%;
  background-color: thistle;
  color: darkblue;
}
